<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <title>TRAM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <!-- <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"> -->
    <!-- <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script> -->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <script type="text/javascript" src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> -->
</head>

<body>
    
    <div class="container-fluid">
        <div class="row tooltitle">
            <h2 style="text-align: left; font-size: small; color: aliceblue;">CP-TRAM : Cyber-Physical Transmission Resiliency Assessment Metrics</h2>
        </div>
    </div>


    <div class="container-fluid">
        <!-- <div class="row"> -->
            <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> -->
                <!-- Main Buttons -->
                <ul class="nav nav-pills nav-fill bg-light">
                    <li class="nav-item active"><a class="nav-link" data-toggle="tab" href='#overview'>Cyber-Physical</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#physical">Physical</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cyber">Cyber</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#event">Event</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#strategy">Strategy</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#help">Help</a></li> -->
                </ul>
            
                <div class="tab-content">
                    <div id="overview" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div  style="background-color: rgb(224, 79, 79); margin-top: 10px;">
                                    <div class="card" style="background-color: rgb(224, 79, 79); color: white;">
                                        <div class="row justify-content-center">    
                                            <h5 class="text-info" style="color: white;">CP-TRAM SCORE</h5>
                                        </div>
                                        <div class="row justify-content-center text-info">
                                            <h5 id="tramscore">1.1167</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">
                                <div  style="background-color: white; margin-top: 10px;">
                                    <div class="card" style="background-color: #645e9e; color: white;">
                                        <div class="row justify-content-center">    
                                            <h5 class="text-info">System Frequency</h5>
                                        </div>
                                        <div class="row justify-content-center text-info">
                                            <h5 id="sysfreq">59.982 Hz</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2">
                                <div  style="background-color: white; margin-top: 10px;">
                                    <div class="card" style="background-color: #1e7e34; color: white;">
                                        <div class="row justify-content-center">    
                                            <h5 class="text-info">Packet Loss Rate</h5>
                                        </div>
                                        <div class="row justify-content-center text-info">
                                            <h5 id="packetloss">1.2%</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            

                            <!-- Map column -->
                            <div class="col-lg-6 col-md-6">
                                <h4 class="align-middle" style="text-align: center; margin-top: 20px;"> Live Map </h4>
                                <!-- <span class="align-middle">middle</span> -->
                            </div>
                        </div>

                        <div class="row">
                            <label for="fromtime">From:</label>
                            <input type="date" id="fromtime" name="fromtime">

                            <label for="totime">To:</label>
                            <input type="date" id="totime" name="totime">
                        </div>

                        <!-- Line Chart Row -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div style="background: white; margin-top: 10px;">
                                    <div class="card">
                                        <div id="overview-chart" style="width: 810px; height:400px; overflow: auto;"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div style="background-color: white; margin-top: 10px;">
                                    <div class="card">
                                        <div id="overview-map"></div>
                                    </div>
                                </div>
                            </div>
                        </div>    


                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div style="background-color: white; margin-top: 10px;">
                                    <div class="card">
                                    <table class="table table-sm table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th class="text-center">Time</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Event</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="table-warning">  
                                                <th scope="row">2:34pm</th>
                                                <td>Alert</td>
                                                <td>Line “Coronado_Nawang_1” violates line rating limit 2250
                                                    MVA
                                                    (Current: 2251 MVA).
                                                </td>
                                            </tr>
                                            <tr class="table-success">
                                                <th scope="row">1:36pm</th>
                                                <td>Normal</td>
                                                <td>Normal operation of LTC #3 at “Craig” Substation (Tap
                                                    position:
                                                    9).
                                                </td>
                                            </tr>
                                            <tr class="table-danger">
                                                <th scope="row">11:45am</th>
                                                <td>Warning</td>
                                                <td>Line "Coronado_Nawang_ 1" tripped off due to
                                                    single-phase-to-ground
                                                    fault detected.
                                                </td>
                                            </tr>
                                        </tbody>
                                        
                                    </table>
                                </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="physical" class="tab-pane">
                        <!-- <div class="container-fluid"> -->
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h4 class="align-middle" style="text-align: center; margin-top: 5px; margin-bottom: 0px;" >Physical Resiliency Score</h4>
                                    <div  style="background-color: white; margin-top: 0px;">
                                        <div class="card" style="background-color: #645e9e;">
                                            <div class="row justify-content-center">    
                                            </div>
                                            <div class="row justify-content-center text-info">
                                                <h5 id="tramscore">1.1167</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- <div class="row justify-content-center"> -->
                                        <h4 class="align-middle" style="text-align: center; margin-top: 5px; margin-bottom: 0px;"> Event Summary </h4>
                                        <div style="background-color: white; margin-top: 0px;">
                                            <div class="card" style="height: 250px;">
                                            <table class="table table-sm table-bordered">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="text-center">Time</th>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center">Event</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="table-warning">  
                                                        <th scope="row">2:34pm</th>
                                                        <td>Alert</td>
                                                        <td>Line “Coronado_Nawang_1” violates line rating limit 2250
                                                            MVA
                                                            (Current: 2251 MVA).
                                                        </td>
                                                    </tr>
                                                    <tr class="table-success">
                                                        <th scope="row">1:36pm</th>
                                                        <td>Normal</td>
                                                        <td>Normal operation of LTC #3 at “Craig” Substation (Tap
                                                            position:
                                                            9).
                                                        </td>
                                                    </tr>
                                                    <tr class="table-danger">
                                                        <th scope="row">11:45am</th>
                                                        <td>Warning</td>
                                                        <td>Line "Coronado_Nawang_ 1" tripped off due to
                                                            single-phase-to-ground
                                                            fault detected.
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                
                                            </table>
                                        </div>
                                        </div>
                                    <!-- </div> -->
                                    <!-- <div class="row"> -->
                                        <h4 class="align-middle" style="text-align: center; margin-top: 5px; margin-bottom: 0px;"> Physical Resiliency Graph </h4>
                                        <div style="background: white; margin-top: 0px;">
                                            <div class="card">
                                                <div id="tester" style="width:520px ;height:330px; overflow: auto;"></div>
                                            </div>
                                        </div>
                                    <!-- </div> -->
                                </div>


                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <!-- <div class="row"> -->
                                        <h4 class="align-middle" style="text-align: center; margin-top: 5px; margin-bottom: 0px;">Transferred Power Table</h4>
                                        <div style="background-color: white; margin-top: 0px;">
                                            <div class="card">
                                            <table id="powerTable" class="table table-sm display compact" style="width:100%">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="th-sm">Branch</th>
                                                        <th class="th-sm">Voltage Level</th>
                                                        <th class="th-sm">Transferred MVA</th>
                                                        <th class="th-sm">Capacity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    <!-- </div> -->
                                    <!-- <div class="row"> -->
                                        <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Voltage Level Table</h4>
                                        <div style="background-color: white;">
                                            <div class="card">
                                            <table id="businfo" class="table table-sm display compact" style="width:100%">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="th-sm">Bus Id</th>
                                                        <th class="th-sm">Bus Name</th>
                                                        <th class="th-sm">Nominal kV</th>
                                                        <th class="th-sm">Per-Unit Voltage</th>
                                                        <!-- <th class="th-sm">Base kV</th> -->
                                                        <!-- <th class="th-sm">Voltage (p.u.)</th> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    <!-- </div> -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Live Physical Map</h4>
                                    <div style="background-color: white; margin-top: 0px;">
                                        <div class="card">
                                        <div id="mapid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    
                    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Anomaly Detected</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            00:00 - Detected anomalies in generator inputs at Bus 1
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Flag and Remove</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Replace with estimate</button>
        </div>
      </div>
    </div>
  </div>
  </div>


                    <!-- Cyber Tab-->

                    <div id="cyber" class="tab-pane">
                        <div class="container-fluid">
                            <div class="row">

                                <!-- COLUMN 1 -->
                                <div class="col-lg-4 col-md-4">
                                    <!-- <div class="row"> -->
                                        <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Live Scores</h4>
                                        
                                        <div  style="background-color: rgb(97, 63, 192); margin-top: 10px;">
                                            <div class="card" style="background-color: rgb(97, 63, 192);">
                                                <div class="row justify-content-center">    
                                                    <h6 class="text-info">Cyber Resiliency Score</h6>
                                                </div>
                                                <div class="row justify-content-center text-info">
                                                    <h6 id="">1.1167</h6>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- <div  style="background-color: rgb(97, 63, 192); margin-top: 10px;">    -->
                                            <!-- <div class="card" style="background-color: rgb(97, 63, 192);"> -->
                                                <!-- <div class="row justify-content-center text-info">     -->
                                                    <!-- <div class="col-lg-4 col-md-4"> -->
                                                        <!-- <div class="card" style="background-color: rgb(97, 63, 192); ">
                                                            <h6 class="text-info">Cyber Resiliency Score</h6>
                                                            <h6 id="">96.0 (-1.05)</h6>
                                                        </div>
                                                </div> -->
                                                <!-- <div class="row justify-content-center text-info">
                                                    <h5 id="">96.0 (-1.05)</h5>
                                                </div> -->
                                            <!-- </div> -->
                                        <!-- </div> -->
                                    <!-- </div> -->
                                    <!-- <div class="row"> -->
                                        <div  style="background-color: rgb(97, 63, 192); margin-top: 10px;">
                                            <div class="card" style="background-color: rgb(97, 63, 192);">
                                                <div class="row justify-content-center">    
                                                    <h6 class="text-info">Packet Loss Rate</h6>
                                                </div>
                                                <div class="row justify-content-center text-info">
                                                    <h6 id="">1.2%</h6>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- </div> -->

                                        <div  style="background-color: rgb(97, 63, 192); margin-top: 10px;">
                                            <div class="card" style="background-color: rgb(97, 63, 192);">
                                                <div class="row justify-content-center">    
                                                    <h6 class="text-info">RTU/IED Health Errors</h6>
                                                </div>
                                                <div class="row justify-content-center text-info">
                                                    <h6 id="">0</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- CHART DIV -->
                                        <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Live Cyber Score Chart</h4>
                                        <div style="background: white; margin-top: 0px;">
                                            <div class="card">
                                                <div id="cyberchart" style="width:510px ;height:240px; overflow: auto;"></div>
                                            </div>
                                        </div>

                                </div>

                                <!-- COLUMN 2 -->
                                <div class="col-lg-4 col-md-4">
                                    <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Event Summary</h4>
                                    <div class="card" style="height: 225px;">
                                        <table class="table table-sm table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center">Time</th>
                                                    <th class="text-center">Status</th>
                                                    <th class="text-center">Event</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="table-warning">  
                                                    <th scope="row">2:34pm</th>
                                                    <td>Alert</td>
                                                    <td>Line “Coronado_Nawang_1” violates line rating limit 2250
                                                        MVA
                                                        (Current: 2251 MVA).
                                                    </td>
                                                </tr>
                                                <tr class="table-success">
                                                    <th scope="row">1:36pm</th>
                                                    <td>Normal</td>
                                                    <td>Normal operation of LTC #3 at “Craig” Substation (Tap
                                                        position:
                                                        9).
                                                    </td>
                                                </tr>
                                                <tr class="table-danger">
                                                    <th scope="row">11:45am</th>
                                                    <td>Warning</td>
                                                    <td>Line "Coronado_Nawang_ 1" tripped off due to
                                                        single-phase-to-ground
                                                        fault detected.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>


                                    <!-- Communication Metrics -->

                                    <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Communication Metrics</h4>
                                    <div class="card" style="height: 252px;">
                                        <table class="table table-sm table-bordered">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th class="text-center">Metric</th>
                                                    <th class="text-center">Avg.</th>
                                                    <th class="text-center">Min.</th>
                                                    <th class="text-center">Max.</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>  
                                                    <th scope="row">Host to host delay(ms)</th>
                                                    <td>132.776</td>
                                                    <td>2.007</td>
                                                    <td>544.436</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Bandwidth Usage</th>
                                                    <td>12.25%</td>
                                                    <td>1.42%</td>
                                                    <td>20.05%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Packet Loss Rate</th>
                                                    <td>1.2%</td>
                                                    <td>0.0%</td>
                                                    <td>2.0%</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Node Centrality</th>
                                                    <td>0.06542</td>
                                                    <td>0.03226 </td>                                                    </td>
                                                    <td>0.16129</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Katz Centrality</th>
                                                    <td>0.17495</td>
                                                    <td>0.15430</td>
                                                    <td>0.23657</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>

                                <!-- COLUMN 3 -->
                                <div class="col-lg-4 col-md-4">
                                <h4 class="align-middle" style="text-align: center; margin-top: 5px;" >Live Cyber Map</h4>
                                    <div class="card">
                                        <div id="cyber-map"></div>
                                    </div>
                                </div>
   
                            </div>

                            <div class="row" style="margin-top: 2px;">
                                <div class="col-lg-12 col-md-12">
                                    <div style="background-color: white;">
                                        <div class="card" style="width:100%">
                                            <table id="cybervulnerablities" class="table table-sm display compact" style="width:100%; ">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th class="th-sm">CVE ID</th>
                                                        <th class="th-sm">Score</th>
                                                        <th class="th-sm">AV</th>
                                                        <th class="th-sm">AC</th>
                                                        <th class="th-sm">Au</th>
                                                        <th class="th-sm">C</th>
                                                        <th class="th-sm">I</th>
                                                        <th class="th-sm">A</th>
                                                        <th class="th-sm">Device</th>
                                                        <th class="th-sm">Substation</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="event" class="tab-pane"></div>
                    <div id="strategy" class="tab-pane"></div>
                </div>


    </div>

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cyber.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/physical.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/cyberphysical.js') }}"></script>
    
    

</body>
</html>