body {
    padding: 0;
    margin: 0;
    background-color: #fff;
  }
  /*--- navigation bar ---*/
  
  .tooltitle{
    background-color: #29576e;
    color: rgb(221, 211, 211);
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
.score{
  text-align: center;
}


  .header {
/* For adding image, we can add background image property here */
    
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .description {
    
    position: absolute;
    top: 10%;
    text-align: left;
  }
  .description h2 {
    color: rgb(255, 255, 255);
  }
  .description p {
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .features {
    /* margin: 4em auto; */
    /* padding: 1em; */
    position: relative;
  }
  .feature-title {
    color: rgb(230, 218, 218);
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px; 
  }
  /* .features img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
  } */

  .with-margin{
    margin-bottom: 5px;
  }

  .buses{
      text-align: center;
      margin-bottom: 12px;
  }

  .voltages-table{
      margin-top: 20%;
  }

  .voltage-labels{
    margin-top: 80%;
  }

  .with-voltage-margin{
    margin-bottom: 30px;
    text-align: center;
  }
  #mapid { height: 480px; }

  .table th {
    text-align: center;
  }

  #linechart{
    height: 480px;
  }